<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NotesProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <NotesProject.Properties.Settings>
            <setting name="timeDelayNextElem" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="timeDelayShowImage" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="showNoteDescription" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useDiezNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useBemolNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useChords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useMajorTriad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useMinorTriad" serializeAs="String">
                <value>False</value>
            </setting>
        </NotesProject.Properties.Settings>
    </userSettings>
</configuration>